- name: Basic settings
  import_tasks: basic_settings.yml

- name: Install things
  import_tasks: installs.yml

- name: Link in dotfiles
  import_tasks: dotfiles.yml
  tags:
  - dotfiles

- name: Copy in/clone app settings
  import_tasks: app_settings.yml

- name: Cron settings
  import_tasks: cron.yml
  tags:
  - cron
